# Import Libraries

In [1]:
import pandas as pd
import numpy as np
from sklearn.naive_bayes import GaussianNB
from sklearn.naive_bayes import MultinomialNB
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
from sklearn import preprocessing

# Import Dataset

In [6]:
salary_train = pd.read_csv('SalaryData_Train.csv')
salary_train.head(3)

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K

In [7]:
salary_test = pd.read_csv('SalaryData_Test.csv')
salary_test.head(3)

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,25,Private,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K

In [4]:
string_columns=["workclass","education","maritalstatus","occupation","relationship","race","sex","native"]

In [8]:
number = preprocessing.LabelEncoder()
for i in string_columns:
    salary_train[i] = number.fit_transform(salary_train[i])
    salary_test[i] = number.fit_transform(salary_test[i])

In [9]:
colnames = salary_train.columns
len(colnames[0:13])
trainX = salary_train[colnames[0:13]]
trainY = salary_train[colnames[13]]
testX  = salary_test[colnames[0:13]]
testY  = salary_test[colnames[13]]

# Model Training

In [18]:
# Train Gaussian Naive Bayes classifier on training set

sgnb = GaussianNB()

#fit the model
spred_gnb = sgnb.fit(trainX,trainY).predict(testX)

# Confusion matrix for GaussianNB Model

In [19]:
confusion_matrix(testY,spred_gnb)

array([[10759,   601],
       [ 2491,  1209]], dtype=int64)

In [11]:
print ("Accuracy",(10759+1209)/(10759+601+2491+1209))

Accuracy 0.7946879150066402

In [17]:
# Train Sign_pred by Motif Naive Bayes on training set

smnb = MultinomialNB()

#fit the model
spred_mnb = smnb.fit(trainX,trainY).predict(testX)

# Confusion matrix for Sign_predMNB Model

In [16]:
confusion_matrix(testY,spred_mnb)

array([[10891,   469],
       [ 2920,   780]], dtype=int64)

# Accuracy of the models

In [33]:
print ("Accuracy of GaussianNB model is:",(10759+1209)/(10759+601+2491+1209))

Accuracy of GaussianNB model is: 0.7946879150066402

In [20]:
print("Accuracy of SMNB model is:",(10891+780)/(10891+780+2920+780))

Accuracy of SMNB model is: 0.7592869689675362